{% extends "account/auth_base.html" %}

{% block auth_title %}Change password{% endblock %}
{% block auth_subtitle %}Enter your current password, then choose a new one.{% endblock %}

{% block auth_body %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include "account/_non_field_errors.html" %}

        {% include "account/_field.html" with field=form.old_password %}
        {% include "account/_field.html" with field=form.new_password1 %}
        {% include "account/_field.html" with field=form.new_password2 %}

        <button type="submit" class="auth-submit">Change password</button>
    </form>

    <p class="auth-alt"><a href="{% url 'home' %}">Cancel</a></p>
{% endblock %}