{% extends "account/auth_base.html" %}

{% block auth_title %}Forgot your password?{% endblock %}
{% block auth_subtitle %}Enter the email address you signed up with and we'll send you a link to reset your password.{% endblock %}

{% block auth_body %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include "account/_non_field_errors.html" %}

        {% include "account/_field.html" with field=form.email %}

        <button type="submit" class="auth-submit">Send reset link</button>
    </form>

    <p class="auth-alt"><a href="{% url 'login' %}">Back to log in</a></p>
{% endblock %}
