{% extends "account/auth_base.html" %}

{% block auth_title %}{% if validlink %}Choose a new password{% else %}Link not valid{% endif %}{% endblock %}
{% block auth_subtitle %}{% if validlink %}Pick something strong that you don't use anywhere else.{% else %}This password reset link is invalid or has already been used.{% endif %}{% endblock %}

{% block auth_body %}
    {% if validlink %}
        <form method="post" novalidate>
            {% csrf_token %}
            {% include "account/_non_field_errors.html" %}

            {% include "account/_field.html" with field=form.new_password1 %}
            {% include "account/_field.html" with field=form.new_password2 %}

            <button type="submit" class="auth-submit">Reset password</button>
        </form>
    {% else %}
        <a href="{% url 'password_reset' %}" class="auth-submit auth-link-btn">Request a new link</a>
    {% endif %}
{% endblock %}